# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Model files
*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# Otros archivos temporales
.DS_Store
